<a href="https://colab.research.google.com/github/rabiyulfahimhasim786/data-analysis-ocr/blob/main/ocr_invoice_data_formatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Invoice data analysis - OCR**

In [ ]:
import pandas as pd

# reading the csv file
df = pd.read_csv("invoicetext.csv")
#print(df)
var = df['Text']
var
print(var)
for x in var:
  print(x)

0    ['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23...
1    ['HomeGoods', 'GRAND MORTON TOWN CENTER', '273...
Name: Text, dtype: object
['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23518 WESTHEIMER PARKWAY', 'KATY, TX 77494', 'United States', '281-574-1720', 'REGULAR SALE', '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', 'Subtotal', '$91.90', 'TX 8.250% Sales Tax', '$7.58', 'Total', '$99.48', 'Gift Card', '$81.17', '9526', 'Entry Method: Swiped', 'Balance: $0.00', 'VISA', '$18.31', 'TRANSACTION RECORD', '2876', 'PURCHASE', 'EXPIRES **/** CHIP', 'AUTH# 94639D', 'AID A0000000031010', 'APPLICATION LABEL VISA CREDIT', 'Signature Captured', '000527', '00200061', '20:23:32', 'APPROVED', 'Change', '$0.00', 'HomeGoods VALUES YOUR FEEDBACK! ! !', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOMEGOODSFEEDBACK.com', 'Respond by 9/21/22']
['HomeGoods', 'GRAND MORTON TOWN CENTER', '2732 WEST GRAND PKWY N', 'KATY, TX 77449', 'United States', '281-665-4300', 'REGULAR SALE', '35- CANDLES', '252897', '$15.00 T', 'Subtotal', '$15.00', 'TX 8.250% Sales Tax', '$1.24', 'Total', '$16.24', 'Gift Card', '$16.24', '9526', 'Entry Method: Swiped', 'Balance: $81.17', 'Change', '$0.00', 'HOMEGOODS VALUES YOUR FEEDBACK!!!!', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOHEGOODSFEEDBACK.com', 'Respond by 9/11/22', 'You will need to reference', 'your receipt', 'Survey number: 1011026519', 'SEE WEBSITE FOR COMPLETE RULES', 'Sold Item Count = 1', '01131KYN611411ELP4AWR4Q', '281011 2 6519 08/28/2022 18:56:03', '1053', 'Customer Copy', 'THANK YOU FOR SHOPPING AT HOMEGOODS']

In [ ]:
import pandas as pd

# reading the csv file
df = pd.read_csv("invoicetext.csv")
#print(df)
var = df['Text']
var

print(var)
for x in var:
  print(x)

0    ['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23...
1    ['HomeGoods', 'GRAND MORTON TOWN CENTER', '273...
Name: Text, dtype: object
['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23518 WESTHEIMER PARKWAY', 'KATY, TX 77494', 'United States', '281-574-1720', 'REGULAR SALE', '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', 'Subtotal', '$91.90', 'TX 8.250% Sales Tax', '$7.58', 'Total', '$99.48', 'Gift Card', '$81.17', '9526', 'Entry Method: Swiped', 'Balance: $0.00', 'VISA', '$18.31', 'TRANSACTION RECORD', '2876', 'PURCHASE', 'EXPIRES **/** CHIP', 'AUTH# 94639D', 'AID A0000000031010', 'APPLICATION LABEL VISA CREDIT', 'Signature Captured', '000527', '00200061', '20:23:32', 'APPROVED', 'Change', '$0.00', 'HomeGoods VALUES YOUR FEEDBACK! ! !', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOMEGOODSFEEDBACK.com', 'Respond by 9/21/22']
['HomeGoods', 'GRAND MORTON TOWN CENTER', '2732 WEST GRAND PKWY N', 'KATY, TX 77449', 'United States', '281-665-4300', 'REGULAR SALE', '35- CANDLES', '252897', '$15.00 T', 'Subtotal', '$15.00', 'TX 8.250% Sales Tax', '$1.24', 'Total', '$16.24', 'Gift Card', '$16.24', '9526', 'Entry Method: Swiped', 'Balance: $81.17', 'Change', '$0.00', 'HOMEGOODS VALUES YOUR FEEDBACK!!!!', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOHEGOODSFEEDBACK.com', 'Respond by 9/11/22', 'You will need to reference', 'your receipt', 'Survey number: 1011026519', 'SEE WEBSITE FOR COMPLETE RULES', 'Sold Item Count = 1', '01131KYN611411ELP4AWR4Q', '281011 2 6519 08/28/2022 18:56:03', '1053', 'Customer Copy', 'THANK YOU FOR SHOPPING AT HOMEGOODS']

In [ ]:
import numpy as np
data = pd.DataFrame([["Drake", 1], ["John", 2], ["Ben", 1], 
                     ["Joy", 4], ["Joseph", 10], [np.nan, 7]], 
                     columns = ["col1", "col2"])

df_filtered = data[data.col1.str.startswith("Jo", na = False)]
print(df_filtered)

     col1  col2
1    John     2
3     Joy     4
4  Joseph    10

**Invoice data keyword based slicing**

> keywords ( 0 to sale, sale to subtotal, subtotal to -1)

In [ ]:
import pandas as pd

# reading the csv file
df = pd.read_csv("invoicetext.csv")
#print(df)
var = df['Text']
var
a = []
g = []
k = []
#print(var)
for x in var:
  #print(x)
  c = x.index("REGULAR SALE")
  #print(x[0:c]+']')
  b = x[0:c-1]
  a.append(b)
  print(b+']')
  e = x.index("Subtotal")
  #print('['+x[e:])
  h = x[e-1:]
  g.append(h)
  print('['+h)
  #print('['+x[c:e]+']')
  m = x[c-1:e-1]
  k.append(m)
  print('['+m+']')

# print(x)
# print(a)
# print(g)
# print(k)

['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23518 WESTHEIMER PARKWAY', 'KATY, TX 77494', 'United States', '281-574-1720', ]
['Subtotal', '$91.90', 'TX 8.250% Sales Tax', '$7.58', 'Total', '$99.48', 'Gift Card', '$81.17', '9526', 'Entry Method: Swiped', 'Balance: $0.00', 'VISA', '$18.31', 'TRANSACTION RECORD', '2876', 'PURCHASE', 'EXPIRES **/** CHIP', 'AUTH# 94639D', 'AID A0000000031010', 'APPLICATION LABEL VISA CREDIT', 'Signature Captured', '000527', '00200061', '20:23:32', 'APPROVED', 'Change', '$0.00', 'HomeGoods VALUES YOUR FEEDBACK! ! !', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOMEGOODSFEEDBACK.com', 'Respond by 9/21/22']
['REGULAR SALE', '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', ]
['HomeGoods', 'GRAND MORTON TOWN CENTER', '2732 WEST GRAND PKWY N', 'KATY, TX 77449', 'United States', '281-665-4300', ]
['Subtotal', '$15.00', 'TX 8.250% Sales Tax', '$1.24', 'Total', '$16.24', 'Gift Card', '$16.24', '9526', 'Entry Method: Swiped', 'Balance: $81.17', 'Change', '$0.00', 'HOMEGOODS VALUES YOUR FEEDBACK!!!!', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOHEGOODSFEEDBACK.com', 'Respond by 9/11/22', 'You will need to reference', 'your receipt', 'Survey number: 1011026519', 'SEE WEBSITE FOR COMPLETE RULES', 'Sold Item Count = 1', '01131KYN611411ELP4AWR4Q', '281011 2 6519 08/28/2022 18:56:03', '1053', 'Customer Copy', 'THANK YOU FOR SHOPPING AT HOMEGOODS']
['REGULAR SALE', '35- CANDLES', '252897', '$15.00 T', ]

**Invoice table detecions**
 
 filtering till subtotal

In [ ]:
import pandas as pd
import csv
with open('table1.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    fsa=[]
    a=[]
    for row in reader:
        count = count+1
        #print(row[2])
        fsa.append(row[1])
        a.append(row[2])
print(fsa[0:])
print(a[0:])

fruits = fsa[0:]

x = fruits.count("Subtotal")
x+=1
x
type(x)

fsa[0:x]
a[0:x]

df = pd.DataFrame({'Line_ItemName': fsa[0:x],
                  'Subtotal': a[0:x]})
#df
df.to_csv("output.csv", index=None)

['35- CANDLES 252897', 'Subtotal', 'TX 8.250% Sales Tax', 'Total', 'Gift Card 9526 Entry Method: Swiped Balance: $81.17', 'Change']
['$15.00 T', '$15.00', '$1.24', '$16.24', '$16.24', '$0.00']

In [ ]:
import pandas as pd
import csv
with open('output.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    a=[]
    b=[]
    for row in reader:
        count = count+1
        #print(row[2])
        a.append(row[0])
        b.append(row[1])
print(a[1:])
print(b[1:])

# for x in a:
#   s = slice(12)
#   #print(x[s])

df = pd.read_csv("output.csv")
#print(df)
var = df['Line_ItemName'].tolist()
var
h = []
for x in var:
  s = slice(12)
  #(x[s])
  h.append(x[s])
print(h)

df = pd.read_csv("output.csv")
#print(df)
df = pd.read_csv("output.csv")
#print(df)
vars = df['Subtotal'].tolist()
vars
g = []
for x in vars:
  s = slice(6)
  #print(x[s][1:])
  g.append(x[s][1:])
print(g)
e = var.index("Subtotal")
#print(e)
print(var[0:e])
print(vars[0:e])

['35- CANDLES 252897', 'Subtotal']
['$15.00 T', '$15.00']
['35- CANDLES ', 'Subtotal']
['15.00', '15.00']
['35- CANDLES 252897']
['$15.00 T']

In [ ]:
import pandas as pd
import csv
with open('table2.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    fsa=[]
    a=[]
    for row in reader:
        count = count+1
        #print(row[2])
        fsa.append(row[1])
        a.append(row[3])
print(fsa[0:])
print(a[0:])


df = pd.DataFrame({'Line_ItemName': fsa[0:],
                  'Subtotal': a[0:]})
#df
df.to_csv("outputs.csv", index=None)

['41 - KITCHEN/ACCESS', '41 - KITCHEN/ACCESS', '41 - KITCHEN/ACCESS', '41 - KITCHEN/ACCESS', '36 - TOWELS', '36 - TOWELS', '36 - TOWELS', '56 - Q LINE', '31 - DINNERWARE/CER', '31 - DINNERWARE/CER']
['$7.99 T', '$5.99 T', '$7.99 T', '$7.99 T', '$8.99 T', '$8.99 T', '$12.99 T', '$4.99 T', '$12.99 T', '$12.99 T']

In [ ]:
import pandas as pd
import csv
with open('outputs.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    a=[]
    b=[]
    for row in reader:
        count = count+1
        #print(row[2])
        a.append(row[0])
        b.append(row[1])
print(a[1:])
print(b[1:])

# for x in a:
#   s = slice(12)
#   #print(x[s])

df = pd.read_csv("outputs.csv")
#print(df)
var = df['Line_ItemName'].tolist()
var
h = []
for x in var:
  s = slice(12)
  #(x[s])
  h.append(x[s])
print(h)

df = pd.read_csv("outputs.csv")
#print(df)
df = pd.read_csv("outputs.csv")
#print(df)
vars = df['Subtotal'].tolist()
vars
g = []
for x in vars:
  s = slice(6)
  #print(x[s][1:])
  g.append(x[s][1:])
print(g)
# e = var.index("Subtotal")

# #print(e)
# print(var[0:e])
# print(vars[0:e])

['41 - KITCHEN/ACCESS', '41 - KITCHEN/ACCESS', '41 - KITCHEN/ACCESS', '41 - KITCHEN/ACCESS', '36 - TOWELS', '36 - TOWELS', '36 - TOWELS', '56 - Q LINE', '31 - DINNERWARE/CER', '31 - DINNERWARE/CER']
['$7.99 T', '$5.99 T', '$7.99 T', '$7.99 T', '$8.99 T', '$8.99 T', '$12.99 T', '$4.99 T', '$12.99 T', '$12.99 T']
['41 - KITCHEN', '41 - KITCHEN', '41 - KITCHEN', '41 - KITCHEN', '36 - TOWELS', '36 - TOWELS', '36 - TOWELS', '56 - Q LINE', '31 - DINNERW', '31 - DINNERW']
['7.99 ', '5.99 ', '7.99 ', '7.99 ', '8.99 ', '8.99 ', '12.99', '4.99 ', '12.99', '12.99']

In [ ]:
data = pd.DataFrame({'A': '['+h,
                   }, index=[0])

df_filtered = data[data.A.str.startswith("-", na = False)]
print(df_filtered)

Empty DataFrame
Columns: [A]
Index: []

In [ ]:
import pandas as pd
import re
# reading the csv file
df = pd.read_csv("invoicetext.csv")
#print(df)
var = df['Text']
var
a = []
g = []
k = []
#print(var)
for x in var:
  #print(x)
  c = x.index("REGULAR SALE")
  #print(x[0:c]+']')
  b = x[0:c-1]
  a.append(b)
  print(b+']')
  e = x.index("Subtotal")
  #print('['+x[e:])
  h = x[e-1:]
  g.append(h)
  print('['+h)
  #print('['+x[c:e]+']')
  m = x[c-1:e-1]
  k.append(m)
  print('['+m+']')
  f = re.findall('(\S+):(\S+)',x)
  print(f)

# print(x)
# print(a)
# print(g)
# print(k)

['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23518 WESTHEIMER PARKWAY', 'KATY, TX 77494', 'United States', '281-574-1720', ]
['Subtotal', '$91.90', 'TX 8.250% Sales Tax', '$7.58', 'Total', '$99.48', 'Gift Card', '$81.17', '9526', 'Entry Method: Swiped', 'Balance: $0.00', 'VISA', '$18.31', 'TRANSACTION RECORD', '2876', 'PURCHASE', 'EXPIRES **/** CHIP', 'AUTH# 94639D', 'AID A0000000031010', 'APPLICATION LABEL VISA CREDIT', 'Signature Captured', '000527', '00200061', '20:23:32', 'APPROVED', 'Change', '$0.00', 'HomeGoods VALUES YOUR FEEDBACK! ! !', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOMEGOODSFEEDBACK.com', 'Respond by 9/21/22']
['REGULAR SALE', '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', ]
[("'20:23", "32',")]
['HomeGoods', 'GRAND MORTON TOWN CENTER', '2732 WEST GRAND PKWY N', 'KATY, TX 77449', 'United States', '281-665-4300', ]
['Subtotal', '$15.00', 'TX 8.250% Sales Tax', '$1.24', 'Total', '$16.24', 'Gift Card', '$16.24', '9526', 'Entry Method: Swiped', 'Balance: $81.17', 'Change', '$0.00', 'HOMEGOODS VALUES YOUR FEEDBACK!!!!', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOHEGOODSFEEDBACK.com', 'Respond by 9/11/22', 'You will need to reference', 'your receipt', 'Survey number: 1011026519', 'SEE WEBSITE FOR COMPLETE RULES', 'Sold Item Count = 1', '01131KYN611411ELP4AWR4Q', '281011 2 6519 08/28/2022 18:56:03', '1053', 'Customer Copy', 'THANK YOU FOR SHOPPING AT HOMEGOODS']
['REGULAR SALE', '35- CANDLES', '252897', '$15.00 T', ]
[('18:56', "03',")]

In [ ]:
import pandas as pd
import re
# reading the csv file
df = pd.read_csv("invoicetext.csv")
#print(df)
var = df['Text']
var
a = []
g = []
k = []
j = []
#print(var)
for x in var:
  #print(x)
  c = x.index("REGULAR SALE")
  #print(x[0:c]+']')
  b = x[0:c-1]
  a.append(b)
  print(b+']')
  e = x.index("Subtotal")
  #print('['+x[e:])
  h = x[e-1:]
  g.append(h)
  print('['+h)
  #print('['+x[c:e]+']')
  m = x[c-1:e-1]
  k.append(m)
  #print('['+m+']')
  n = '['+m+']'
  print(n)
  j.append(n)
  f = re.findall('(\S+):(\S+)',x)
  print(f)
  # h = re.findall('(\d+)',x)
  # print(h)
print(j)

['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23518 WESTHEIMER PARKWAY', 'KATY, TX 77494', 'United States', '281-574-1720', ]
['Subtotal', '$91.90', 'TX 8.250% Sales Tax', '$7.58', 'Total', '$99.48', 'Gift Card', '$81.17', '9526', 'Entry Method: Swiped', 'Balance: $0.00', 'VISA', '$18.31', 'TRANSACTION RECORD', '2876', 'PURCHASE', 'EXPIRES **/** CHIP', 'AUTH# 94639D', 'AID A0000000031010', 'APPLICATION LABEL VISA CREDIT', 'Signature Captured', '000527', '00200061', '20:23:32', 'APPROVED', 'Change', '$0.00', 'HomeGoods VALUES YOUR FEEDBACK! ! !', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOMEGOODSFEEDBACK.com', 'Respond by 9/21/22']
['REGULAR SALE', '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', ]
[("'20:23", "32',")]
['HomeGoods', 'GRAND MORTON TOWN CENTER', '2732 WEST GRAND PKWY N', 'KATY, TX 77449', 'United States', '281-665-4300', ]
['Subtotal', '$15.00', 'TX 8.250% Sales Tax', '$1.24', 'Total', '$16.24', 'Gift Card', '$16.24', '9526', 'Entry Method: Swiped', 'Balance: $81.17', 'Change', '$0.00', 'HOMEGOODS VALUES YOUR FEEDBACK!!!!', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOHEGOODSFEEDBACK.com', 'Respond by 9/11/22', 'You will need to reference', 'your receipt', 'Survey number: 1011026519', 'SEE WEBSITE FOR COMPLETE RULES', 'Sold Item Count = 1', '01131KYN611411ELP4AWR4Q', '281011 2 6519 08/28/2022 18:56:03', '1053', 'Customer Copy', 'THANK YOU FOR SHOPPING AT HOMEGOODS']
['REGULAR SALE', '35- CANDLES', '252897', '$15.00 T', ]
[('18:56', "03',")]
["['REGULAR SALE', '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', ]", "['REGULAR SALE', '35- CANDLES', '252897', '$15.00 T', ]"]

In [ ]:
type(j)

list

In [ ]:
data = pd.DataFrame(j, columns =['Names'])
data.to_csv('test.csv', index=False)
import pandas as pd

dff = pd.read_csv('test.csv')

print(dff.to_string()) 
# df_filtered = dff.query("Names == '$'")
# print(df_filtered)

                                                                                                                                                                                                                                                                                                                                                                                                                         Names
0  ['REGULAR SALE', '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', ]
1                                                                                                                                                                                                                                                                                                                                                                      ['REGULAR SALE', '35- CANDLES', '252897', '$15.00 T', ]

In [ ]:
df = pd.read_csv("test.csv")
#print(df)
var = df['Names']
var
a = []
g = []
k = []
#print(var)
for x in var:
  print(x)
  #data.to_csv('tdata.csv', index=False)

['REGULAR SALE', '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', ]
['REGULAR SALE', '35- CANDLES', '252897', '$15.00 T', ]

In [ ]:
data = pd.DataFrame([["A", 1], ["A", 2], ["B", 1], 
                     ["C", 4], ["A", 10], ["B", 7]], columns = ["col1", "col2"])
data.to_csv('test.csv', index=False)
import pandas as pd

dff = pd.read_csv('test.csv')

print(dff.to_string()) 
df_filtered = dff.query("col1 == 'A' | col2 == 'B'")
print(df_filtered)

  col1  col2
0    A     1
1    A     2
2    B     1
3    C     4
4    A    10
5    B     7
  col1  col2
0    A     1
1    A     2
4    A    10

In [ ]:
data = pd.DataFrame([["A", 1], ["A", 2], ["B", 1], 
                     ["C", 4], ["A", 10], ["B", 7]], columns = ["col1", "col2"])
data.to_csv('test.csv', index=False)
import pandas as pd

dff = pd.read_csv('test.csv')

print(dff.to_string()) 
df_filtered = dff.query("col1 == 'A' | col2 == 'B'")
print(df_filtered)

In [ ]:
import pandas as pd
import re
# reading the csv file
df = pd.read_csv("invoicetext.csv")
#print(df)
var = df['Text']
var
print(var)
def Filter(datalist):
    # Search data based on regular expression in the list
    return [val for val in datalist
        if re.search(r'\s([0-9A-Z]+\w*\s+\S*?[Aa]lloy)\s', val)]

# Print the filter data
for x in var:
  print(x)
  print(Filter(x))

0    ['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23...
1    ['HomeGoods', 'GRAND MORTON TOWN CENTER', '273...
Name: Text, dtype: object
['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23518 WESTHEIMER PARKWAY', 'KATY, TX 77494', 'United States', '281-574-1720', 'REGULAR SALE', '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', 'Subtotal', '$91.90', 'TX 8.250% Sales Tax', '$7.58', 'Total', '$99.48', 'Gift Card', '$81.17', '9526', 'Entry Method: Swiped', 'Balance: $0.00', 'VISA', '$18.31', 'TRANSACTION RECORD', '2876', 'PURCHASE', 'EXPIRES **/** CHIP', 'AUTH# 94639D', 'AID A0000000031010', 'APPLICATION LABEL VISA CREDIT', 'Signature Captured', '000527', '00200061', '20:23:32', 'APPROVED', 'Change', '$0.00', 'HomeGoods VALUES YOUR FEEDBACK! ! !', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOMEGOODSFEEDBACK.com', 'Respond by 9/21/22']
[]
['HomeGoods', 'GRAND MORTON TOWN CENTER', '2732 WEST GRAND PKWY N', 'KATY, TX 77449', 'United States', '281-665-4300', 'REGULAR SALE', '35- CANDLES', '252897', '$15.00 T', 'Subtotal', '$15.00', 'TX 8.250% Sales Tax', '$1.24', 'Total', '$16.24', 'Gift Card', '$16.24', '9526', 'Entry Method: Swiped', 'Balance: $81.17', 'Change', '$0.00', 'HOMEGOODS VALUES YOUR FEEDBACK!!!!', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOHEGOODSFEEDBACK.com', 'Respond by 9/11/22', 'You will need to reference', 'your receipt', 'Survey number: 1011026519', 'SEE WEBSITE FOR COMPLETE RULES', 'Sold Item Count = 1', '01131KYN611411ELP4AWR4Q', '281011 2 6519 08/28/2022 18:56:03', '1053', 'Customer Copy', 'THANK YOU FOR SHOPPING AT HOMEGOODS']
[]

In [ ]:
# Import re module to use regular expression
import re
 
# Declare the list contains subject code
sublist = ['CSE-407', 'PHY-101', 'CSE-101', 'ENG-102', 'MAT-202']

# Declare the filter function
def Filter(datalist):
    # Search data based on regular expression in the list
    return [val for val in datalist
        if re.search(r'^CSE', val)]

# Print the filter data
print(Filter(sublist))

['CSE-407', 'CSE-101']

In [ ]:
customers = ['Alice', 'Anne', 'Ann', 'Tom']
pattern = 'A.*e'
# Filter out all elements that match the pattern
filtered = [x for x in customers if re.match(pattern, x)]
print(filtered)

['Alice', 'Anne']

In [ ]:
#
pattern = '\s([0-9A-Z])'
# Filter out all elements that match the pattern
filtered = [x for x in m if re.match(pattern, x)]
print(filtered)

[]

In [ ]:
import pandas as pd
import re
# reading the csv file
df = pd.read_csv("invoicetext.csv")
#print(df)
var = df['Text']
var
a = []
g = []
k = []
#print(var)
for x in var:
  #print(x)
  c = x.index("REGULAR SALE")
  #print(x[0:c]+']')
  b = x[0:c-1]
  a.append(b)
  print(b+']')
  e = x.index("Subtotal")
  #print('['+x[e:])
  h = x[e-1:]
  g.append(h)
  print('['+h)
  #print('['+x[c:e]+']')
  m = x[c-1:e-1]
  k.append(m)
  print('['+m+']')
  f = re.findall('(\S+):(\S+)',x)
  print(f)
  z = re.compile(r"(\b(\w{0,1})\b)|(\b(\d+)\b)")
  #z =  re.sub(r"(^|\W)\d+", "", x)
  r = z.sub('', m)
  print(r.strip('$.'))

['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23518 WESTHEIMER PARKWAY', 'KATY, TX 77494', 'United States', '281-574-1720', ]
['Subtotal', '$91.90', 'TX 8.250% Sales Tax', '$7.58', 'Total', '$99.48', 'Gift Card', '$81.17', '9526', 'Entry Method: Swiped', 'Balance: $0.00', 'VISA', '$18.31', 'TRANSACTION RECORD', '2876', 'PURCHASE', 'EXPIRES **/** CHIP', 'AUTH# 94639D', 'AID A0000000031010', 'APPLICATION LABEL VISA CREDIT', 'Signature Captured', '000527', '00200061', '20:23:32', 'APPROVED', 'Change', '$0.00', 'HomeGoods VALUES YOUR FEEDBACK! ! !', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOMEGOODSFEEDBACK.com', 'Respond by 9/21/22']
['REGULAR SALE', '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', ]
[("'20:23", "32',")]
'REGULAR SALE', ' - KITCHEN/ACCESS ', '$. ', ' - KITCHEN/ACCESS ', '$. ', ' - KITCHEN/ACCESS ', '$. ', ' - KITCHEN/ACCESS ', '$. ', ' - TOWELS', '', '$. ', ' - TOWELS', '', '$. ', ' - TOWELS', '', '$. ', ' -  LINE', '', '$. ', ' - DINNERWARE/CER ', '$. ', ' - DINNERWARE/CER ', '$. ',
['HomeGoods', 'GRAND MORTON TOWN CENTER', '2732 WEST GRAND PKWY N', 'KATY, TX 77449', 'United States', '281-665-4300', ]
['Subtotal', '$15.00', 'TX 8.250% Sales Tax', '$1.24', 'Total', '$16.24', 'Gift Card', '$16.24', '9526', 'Entry Method: Swiped', 'Balance: $81.17', 'Change', '$0.00', 'HOMEGOODS VALUES YOUR FEEDBACK!!!!', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOHEGOODSFEEDBACK.com', 'Respond by 9/11/22', 'You will need to reference', 'your receipt', 'Survey number: 1011026519', 'SEE WEBSITE FOR COMPLETE RULES', 'Sold Item Count = 1', '01131KYN611411ELP4AWR4Q', '281011 2 6519 08/28/2022 18:56:03', '1053', 'Customer Copy', 'THANK YOU FOR SHOPPING AT HOMEGOODS']
['REGULAR SALE', '35- CANDLES', '252897', '$15.00 T', ]
[('18:56', "03',")]
'REGULAR SALE', '- CANDLES', '', '$. ',

In [ ]:
import pandas as pd
import re
# reading the csv file
df = pd.read_csv("invoicetext.csv")
#print(df)
var = df['Text']
var
a = []
g = []
k = []
listing = []
#print(var)
for x in var:
  #print(x)
  c = x.index("REGULAR SALE")
  #print(x[0:c]+']')
  b = x[0:c-1]
  a.append(b)
  print(b+']')
  e = x.index("Subtotal")
  #print('['+x[e:])
  h = x[e-1:]
  g.append(h)
  print('['+h)
  #print('['+x[c:e]+']')
  m = x[c-1:e-1]
  k.append(m)
  print('['+m+']')
  n = '['+m+']'
  z = re.compile(r"(\b(\w{0,1})\b)|(\b(\d+)\b)")
  #z =  re.sub(r"(^|\W)\d+", "", x)
  r = z.sub('', m)
  print(r)
  #y = [k for k in m if '$' in k]
  y = list(filter(lambda k: '-' in k, m))
  print(y)
  w = [i for i in m if i=='$']
  print(w)
  u = list(filter(lambda x:x.endswith(("$")), n)) 
  print(u)
  v = [word for word in n if word.endswith('$')]
  print(v)
  b = re.sub('[^\d.,]' , '', n)
  print('['+b+']')
  listing.append(str(b))
  j = re.sub('[^\S,]' , '', n)
  print(j)
  #numbers = int(re.search(r'\d+', n))
  #print(numbers)
  # filtered = filter(lambda num: num > 10000, listing)
  # print(list(filtered))
  # print(listing)

['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23518 WESTHEIMER PARKWAY', 'KATY, TX 77494', 'United States', '281-574-1720', ]
['Subtotal', '$91.90', 'TX 8.250% Sales Tax', '$7.58', 'Total', '$99.48', 'Gift Card', '$81.17', '9526', 'Entry Method: Swiped', 'Balance: $0.00', 'VISA', '$18.31', 'TRANSACTION RECORD', '2876', 'PURCHASE', 'EXPIRES **/** CHIP', 'AUTH# 94639D', 'AID A0000000031010', 'APPLICATION LABEL VISA CREDIT', 'Signature Captured', '000527', '00200061', '20:23:32', 'APPROVED', 'Change', '$0.00', 'HomeGoods VALUES YOUR FEEDBACK! ! !', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOMEGOODSFEEDBACK.com', 'Respond by 9/21/22']
['REGULAR SALE', '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', ]
'REGULAR SALE', ' - KITCHEN/ACCESS ', '$. ', ' - KITCHEN/ACCESS ', '$. ', ' - KITCHEN/ACCESS ', '$. ', ' - KITCHEN/ACCESS ', '$. ', ' - TOWELS', '', '$. ', ' - TOWELS', '', '$. ', ' - TOWELS', '', '$. ', ' -  LINE', '', '$. ', ' - DINNERWARE/CER ', '$. ', ' - DINNERWARE/CER ', '$. ',
['-', '-', '-', '-', '-', '-', '-', '-', '-', '-']
['$', '$', '$', '$', '$', '$', '$', '$', '$', '$']
['$', '$', '$', '$', '$', '$', '$', '$', '$', '$']
['$', '$', '$', '$', '$', '$', '$', '$', '$', '$']
[,41392204,7.99,41403389,5.99,41408621,7.99,41408621,7.99,36,096504,8.99,36,096504,8.99,36,096508,12.99,56,012004,4.99,31538462,12.99,31538459,12.99,]
['REGULARSALE','41-KITCHEN/ACCESS392204','$7.99T','41-KITCHEN/ACCESS403389','$5.99T','41-KITCHEN/ACCESS408621','$7.99T','41-KITCHEN/ACCESS408621','$7.99T','36-TOWELS','096504','$8.99T','36-TOWELS','096504','$8.99T','36-TOWELS','096508','$12.99T','56-QLINE','012004','$4.99T','31-DINNERWARE/CER538462','$12.99T','31-DINNERWARE/CER538459','$12.99T',]
['HomeGoods', 'GRAND MORTON TOWN CENTER', '2732 WEST GRAND PKWY N', 'KATY, TX 77449', 'United States', '281-665-4300', ]
['Subtotal', '$15.00', 'TX 8.250% Sales Tax', '$1.24', 'Total', '$16.24', 'Gift Card', '$16.24', '9526', 'Entry Method: Swiped', 'Balance: $81.17', 'Change', '$0.00', 'HOMEGOODS VALUES YOUR FEEDBACK!!!!', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOHEGOODSFEEDBACK.com', 'Respond by 9/11/22', 'You will need to reference', 'your receipt', 'Survey number: 1011026519', 'SEE WEBSITE FOR COMPLETE RULES', 'Sold Item Count = 1', '01131KYN611411ELP4AWR4Q', '281011 2 6519 08/28/2022 18:56:03', '1053', 'Customer Copy', 'THANK YOU FOR SHOPPING AT HOMEGOODS']
['REGULAR SALE', '35- CANDLES', '252897', '$15.00 T', ]
'REGULAR SALE', '- CANDLES', '', '$. ',
['-']
['$']
['$']
['$']
[,35,252897,15.00,]
['REGULARSALE','35-CANDLES','252897','$15.00T',]

In [ ]:
numbers = int(re.search(r'\d+', n).group())
print(numbers)

if '$' in str(listing):
  print(ok)

35

In [ ]:
my_list = ['abc-123', 'def-456', 'ghi-789', 'abc-456']
type(my_list)
#type(n)
type(listing)

list

In [ ]:
#my_list = ['abc-123', 'def-456', 'ghi-789', 'abc-456']

for item in listing:
    if (item.find('$')) != -1:
        print (item)

In [ ]:
#my_list = ['abc-123', 'def-456', 'ghi-789', 'abc-456']
for item in j:
    if '$' in item:
       print(item)

$

In [ ]:
my_list = ['abc-123', 'def-456', 'ghi-789', 'abc-456']
for item in my_list:
    if 'abc' in item:
       print(item)

abc-123
abc-456

In [ ]:
# if you want only the numbers you could check the type of each element
lst_numbers = [x for x in n if type(x).__name__ == "int" or type(x).__name__ == 'float']
print(lst_numbers)
# if you want only the strings you could check the type of each element
  
lst_strings = [x for x in n if type(x).__name__ == "str"]
print(lst_strings)

[]
['[', "'", 'R', 'E', 'G', 'U', 'L', 'A', 'R', ' ', 'S', 'A', 'L', 'E', "'", ',', ' ', "'", '3', '5', '-', ' ', 'C', 'A', 'N', 'D', 'L', 'E', 'S', "'", ',', ' ', "'", '2', '5', '2', '8', '9', '7', "'", ',', ' ', "'", '$', '1', '5', '.', '0', '0', ' ', 'T', "'", ',', ' ', ']']

In [ ]:
a = [1, 9, 2, 10000, 3, 6]

filtered = filter(lambda num: num > 5, a)
print(list(filtered))
a = [1, 9, 2, 10, 3, 6]

filtered = filter(lambda num: num > 30000, a)
print(list(filtered))

[9, 10000, 6]
[]

In [ ]:
lst = [1, 2,'a','b', 3.0]

# if you want only the numbers you could check the type of each element
lst_numbers = [x for x in lst if type(x).__name__ == "int" or type(x).__name__ == 'float']
print(lst_numbers)
 # if you want only the strings you could check the type of each element
lst_strings = [x for x in lst if type(x).__name__ == "str"]
print(lst_strings)

[1, 2, 3.0]
['a', 'b']

In [ ]:
def contains_number(string):
    return True if set(string).intersection('0123456789') else False

print(contains_number(n))

True

In [ ]:
b = re.sub('[^\d.,]' , '', n)
print(b)

,35,252897,15.00,

**Multiple csv reading and converting to one CSV**

In [1]:
# importing pandas
import pandas as pd

#file_list=['a.csv','b.csv','c.csv']

file_list = ["https://tesxtractkvtable-us-east-1-660866612853.s3.amazonaws.com/tables/06ae3816f8d2bedf2f5a061c1df367fb24847e3ad0e2cc896823225b671c2815/table_6ea631f11f114de6a9b1cbb19bdc5487_page_1.csv", "https://tesxtractkvtable-us-east-1-660866612853.s3.amazonaws.com/tables/06ae3816f8d2bedf2f5a061c1df367fb24847e3ad0e2cc896823225b671c2815/table_6ea7ca336bbb4f2bae9b9a10fcbc4409_page_2.csv"]
main_dataframe = pd.DataFrame(pd.read_csv(file_list[0]))

for i in range(1,len(file_list)):
	data = pd.read_csv(file_list[i])
	df = pd.DataFrame(data)
	main_dataframe = pd.concat([main_dataframe,df],axis=1)
print(main_dataframe)

   Unnamed: 0    1 20 Pc McNuggets BOF 3 Ketchup Packet 8.00        .1  \
0         NaN  NaN                                  NaN  NaN  NaN  NaN
1         NaN  NaN                                  NaN  NaN  NaN  NaN
2         NaN  NaN                                  NaN  NaN  NaN  NaN
3         NaN  NaN                                  NaN  NaN  NaN  NaN
4         NaN  NaN                                  NaN  NaN  NaN  NaN
5         NaN  NaN                                  NaN  NaN  NaN  NaN
6         NaN  NaN                                  NaN  NaN  NaN  NaN

   Unnamed: 0            16 TO 20 SHRIMP  14.33 F
0           1            LIVE BLUE CRAB.  13.89 F
1           2  3 @ 3/0.99 BARTLETT PEARS   0.99 F
2           3                 5 @ 2/0.88
3           4                SM AVOCADOS   2.20 F
4           5             FRESH JUICE SM   2.99 F
5           6                        TAX     0.00
6           7               **** BALANCE    34.40

In [2]:
main_dataframe.to_csv('data.csv')

In [4]:
# importing pandas
import pandas as pd

file_list=['table1.csv','table2.csv']

#file_list = ["https://tesxtractkvtable-us-east-1-660866612853.s3.amazonaws.com/tables/06ae3816f8d2bedf2f5a061c1df367fb24847e3ad0e2cc896823225b671c2815/table_6ea631f11f114de6a9b1cbb19bdc5487_page_1.csv", "https://tesxtractkvtable-us-east-1-660866612853.s3.amazonaws.com/tables/06ae3816f8d2bedf2f5a061c1df367fb24847e3ad0e2cc896823225b671c2815/table_6ea7ca336bbb4f2bae9b9a10fcbc4409_page_2.csv"]
main_dataframe = pd.DataFrame(pd.read_csv(file_list[0]))

for i in range(1,len(file_list)):
	data = pd.read_csv(file_list[i])
	df = pd.DataFrame(data)
	main_dataframe = pd.concat([main_dataframe,df],axis=1)
print(main_dataframe)

   Unnamed: 0                                 35- CANDLES 252897 $15.00 T  \
0         1.0                                           Subtotal   $15.00
1         2.0                                TX 8.250% Sales Tax    $1.24
2         3.0                                              Total   $16.24
3         4.0  Gift Card 9526 Entry Method: Swiped Balance: $...   $16.24
4         5.0                                             Change    $0.00
5         NaN                                                NaN      NaN
6         NaN                                                NaN      NaN
7         NaN                                                NaN      NaN
8         NaN                                                NaN      NaN

   Unnamed: 0  41 - KITCHEN/ACCESS  392204   $7.99 T
0           1  41 - KITCHEN/ACCESS  403389   $5.99 T
1           2  41 - KITCHEN/ACCESS  408621   $7.99 T
2           3  41 - KITCHEN/ACCESS  408621   $7.99 T
3           4          36 - TOWELS   96504   $8.99 T
4           5          36 - TOWELS   96504   $8.99 T
5           6          36 - TOWELS   96508  $12.99 T
6           7          56 - Q LINE   12004   $4.99 T
7           8  31 - DINNERWARE/CER  538462  $12.99 T
8           9  31 - DINNERWARE/CER  538459  $12.99 T

In [5]:
main_dataframe.to_csv('datas.csv')