**Reference for Column readings**

In [ ]:
# importing pandas
import pandas as pd
result_data = {'name': ['Katherine', 'James', 'Emily',
						'Michael', 'Matthew', 'Laura'],
			'score': [98, 80, 60, 85, 49, 92],
			'age': [20, 25, 22, 24, 21, 20],
			'qualify_label': ['yes', 'yes', 'no',
								'yes', 'no', 'yes']}

# creating dataframe
df = pd.DataFrame(result_data, index=None)

# computing number of rows
rows = len(df.axes[0])

# computing number of columns
cols = len(df.axes[1])

print(df)
print("Number of Rows: ", rows)
print("Number of Columns: ", cols)

        name  score  age qualify_label
0  Katherine     98   20           yes
1      James     80   25           yes
2      Emily     60   22            no
3    Michael     85   24           yes
4    Matthew     49   21            no
5      Laura     92   20           yes
Number of Rows:  6
Number of Columns:  4

In [ ]:
if cols == 1:
  print(cols)
elif cols==2:
  print('2')
elif cols==3:
  print('3')
elif cols==4:
  print('4')
else:
  print('5')

4

In [19]:
import pandas as pd
file = 'table2.csv'
df =pd.read_csv(file)
df

   Unnamed: 0  41 - KITCHEN/ACCESS  392204   $7.99 T
0           1  41 - KITCHEN/ACCESS  403389   $5.99 T
1           2  41 - KITCHEN/ACCESS  408621   $7.99 T
2           3  41 - KITCHEN/ACCESS  408621   $7.99 T
3           4          36 - TOWELS   96504   $8.99 T
4           5          36 - TOWELS   96504   $8.99 T
5           6          36 - TOWELS   96508  $12.99 T
6           7          56 - Q LINE   12004   $4.99 T
7           8  31 - DINNERWARE/CER  538462  $12.99 T
8           9  31 - DINNERWARE/CER  538459  $12.99 T

In [20]:
columns = len(df.axes[1])
columns

4

In [21]:
#file = 'table1.csv'
columns = len(df.axes[1])
if columns == 1:
  print(columns)
elif columns==2:
  df0 = pd.read_csv(file,  names=['Col1', 'Col2'], header=None,  dtype=str)
  print(df0)
  print('2')
elif columns==3:
  df0 = pd.read_csv(file,  names=['Col1', 'Col2', 'Col3'], header=None,  dtype=str)
  print(df0)
  print('3')
elif columns==4:
  df0 = pd.read_csv(file, names=['Col1', 'Col2', 'Col3', 'Col4'], header=None,  dtype=str)
  print(df0)
  print('4')
else:
  df0 = pd.read_csv(file, header=None,  dtype=str)
  print(df0)
  print('5')

  Col1                 Col2    Col3      Col4
0  NaN  41 - KITCHEN/ACCESS  392204   $7.99 T
1    1  41 - KITCHEN/ACCESS  403389   $5.99 T
2    2  41 - KITCHEN/ACCESS  408621   $7.99 T
3    3  41 - KITCHEN/ACCESS  408621   $7.99 T
4    4          36 - TOWELS  096504   $8.99 T
5    5          36 - TOWELS  096504   $8.99 T
6    6          36 - TOWELS  096508  $12.99 T
7    7          56 - Q LINE  012004   $4.99 T
8    8  31 - DINNERWARE/CER  538462  $12.99 T
9    9  31 - DINNERWARE/CER  538459  $12.99 T
4

In [35]:
import pandas as pd
file = 'table4.csv'
df =pd.read_csv(file)
#df
columns = len(df.axes[1])
#file = 'table1.csv'
columns = len(df.axes[1])
if columns == 1:
  df0 = pd.read_csv(file,  names=['Col1'], header=None,  dtype=str)
  print(df0)
  print(columns)
elif columns==2:
  df0 = pd.read_csv(file,  names=['Col1', 'Col2'], header=None,  dtype=str)
  print(df0)
  print('2')
elif columns==3:
  df0 = pd.read_csv(file,  names=['Col1', 'Col2', 'Col3'], header=None,  dtype=str)
  print(df0)
  print('3')
elif columns==4:
  df0 = pd.read_csv(file, names=['Col1', 'Col2', 'Col3', 'Col4'], header=None,  dtype=str)
  print(df0)
  print('4')
elif columns==5:
  df0 = pd.read_csv(file, names=['Col1', 'Col2', 'Col3', 'Col4', 'Col5'], header=None,  dtype=str)
  print(df0)
  print('5')
elif columns==6:
  df0 = pd.read_csv(file, names=['Col1', 'Col2', 'Col3', 'Col4', 'Col5', 'Col6'], header=None,  dtype=str)
  print(df0)
  print('6')
else:
  df0 = pd.read_csv(file, header=None,  dtype=str)
  print(df0)
  print('5')

  Col1 Col2                   Col3 Col4  Col5
0  NaN    1      CM ORG WHOLE MILK   FW  5.98
1    1    2  HCF X-LG GRADE A EGGS   FW  4.17
5